* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: Arial;
  margin: 0;
}

.buttom {
  font-family: Arial;
  border-collapse: collapse;
  position: absolute;
  bottom: 0;
  padding: 1em;
  padding-bottom: 0;
  width: 100%;
  height: auto;
}

.buttomColour {
  padding: 8px;
  width: 8.33%;
}

.colourBox {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.test {
  font-family: Arial;
  height: 250px;
  font-size:24px
}